@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Mulish:wght@300;400;700&family=Roboto:ital@1&family=Rubik+Moonrocks&display=swap');


*{
    font-family: "Mulish" "sans-serif";
}



.body-other-section h3{
    padding-top: 25%;
    font-weight: 700;
}

.act {
    width: 70%;
}

.body-other-section p{
    color: #7D7987;
    font-size: 300;
    padding-left: 70%;
}

.para3{
    color: #7D7987;
    font-weight: 300;
}

.row{
    margin: 0 !important;
}