@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Mulish:wght@300;400;700&family=Roboto:ital@1&family=Rubik+Moonrocks&display=swap');


*{
    font-family: "Mulish" "sans-serif";
}

.body-style{
    margin-top: 200px;
}
.body-img-section{
    max-width: 100%;
}
.body-img-section img{
    width: 100%;
}

.body-other-section{
    padding-left: 10%;

}

.para3{
    color: #7D7987;
    font-weight: 300;
}

.body-other-section h3, .body-other-section2 h3{
    padding-top: 30%;
    font-weight: 700;
}

.body-image-section{
    max-width: 100%;
    padding-top: 25%;
}

.body-image-section img {
    width: 100%;

}
