@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Mulish:wght@300;400;700&family=Roboto:ital@1&family=Rubik+Moonrocks&display=swap');

*{
    font-family: "Mulish", "sans-serif";
}

.section{
    margin-top: 118px;
}

.section h3{
    text-align: center;
    font-size: 700;
}

.para{
    font-weight: 300;
    color: #7D7987;
    text-align: center;
    margin-top: 15px;
}

.service {
    margin-top: 55px;
}

.service-second-section{
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 10px;
    text-align: left;
}

.service-section-body h3{
    font-weight: 700;
    font-size: 18px;
}

.service-section-body p{
    font-size: 300;
    color: #7D7987;
}

.service-img-section2 img{
    width: 13%;
}

.service-img-section3 img{
    width: 16%;
}

.service-btn{
    outline: none;
    border: 1px solid #458FF6; 
    background: #fff;
    color: #458FF6;
    box-shadow: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 700;
}

.service-section-footer{
    padding-top: 35px;
}

@media screen and (max-width: 992px) {
    .service-second-section {
        text-align: center;
        margin-bottom: 35px;
    }
}

.row {
    margin: 0 !important;
}