@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Mulish:wght@300;400;700&family=Roboto:ital@1&family=Rubik+Moonrocks&display=swap');

.navbar{
    padding: 0, !important; 
}

*{
    font-family: "Mulish" "sans-serif";
}

.home {
    font-weight: 700 !important;
}
